 .faq {
   padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .ques-heading-titlebox{
  display: flex;
  background-color: rgba(80, 80, 80, 0.5);
  width: 50rem;
  height: 5rem;
  border-radius: 20px;
  justify-content: space-between;
  color: white;
  text-align: center;
} 
 
.ques-wrapper-1 .list,
.ques-wrapper-2 .list {
  display: none;
}
 
.ques-wrapper-1-active .list,
.ques-wrapper-2-active .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;
  color: white;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 20px;
  font-size: 1.2rem;
  width: 50rem;
}
 
.ques-wrapper-1-active .list-item,
.ques-wrapper-2-active .list-item {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}
 

 
.ques-wrapper-1-active .ques-heading-titlebox ,
.ques-wrapper-2-active .ques-heading-titlebox {
  margin-bottom: 2rem;

}
 
.ques-wrapper-1-active .more-option-show,
.ques-wrapper-2-active .more-option-show {
  transform: rotate(180deg);
  cursor: pointer;
  font-weight: bold;
}

.ques-wrapper-1 .more-option-show,
.ques-wrapper-2 .more-option-show{
  cursor: pointer;
  font-weight: bold;
}
.ques-heading-titlebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.ques-heading-m{
  padding: 1rem;
  font-size: 2rem;
}
.more-options-m{
  padding: 1rem;
}


/* media query */  
@media screen and (max-width: 1024px){
  .ques-wrapper-1 .ques-heading-titlebox,
  .ques-wrapper-2 .ques-heading-titlebox{
    width: 44rem;
  }
  .ques-wrapper-1-active .list,
  .ques-wrapper-2-active .list {
    width: 44rem;
  } 
  .ques-wrapper-1-active .list-item,
  .ques-wrapper-2-active .list-item {
    width: 44rem;
  }
  .ques-wrapper-1-active .ques-heading-titlebox ,
  .ques-wrapper-2-active .ques-heading-titlebox {
    width: 44rem;
  }
  .ques-wrapper-1-active .more-option-show,
  .ques-wrapper-2-active .more-option-show {
    transform: rotate(180deg);
    cursor: pointer;
    font-weight: bold;
  }
  .ques-wrapper-1 .more-option-show,
  .ques-wrapper-2 .more-option-show{
    cursor: pointer;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px){
  .ques-wrapper-1 .ques-heading-titlebox,
  .ques-wrapper-2 .ques-heading-titlebox{
    width: 90vw
  }
  .ques-wrapper-1-active .list,
  .ques-wrapper-2-active .list {
    width: 90vw;
  } 
  .ques-heading-m{
    font-size: 1.7rem;
  }
  .ques-heading-titlebox{
    height: 3.5rem;
  }
  .more-options-m{
    padding: 0;
    height: 3.5rem;
  }
  .ques-wrapper-1-active .list, .ques-wrapper-2-active .list {
    width: 90vw;
  }
}
@media screen and (max-width: 500px){
  .ques-heading-m{
    font-size: 1rem;
  }
  .ques-heading-titlebox{
    height: 3.5rem;
  }
  .more-options-m{
    padding: 0;
    height: 3.5rem;
  }
  .ques-wrapper-1-active .list-item,
  .ques-wrapper-2-active .list-item{
    width: 90vw;
    /* height: 10rem; */
    justify-content: center;
    display: flex;
  }
  .ques-wrapper-1-active .list, .ques-wrapper-2-active .list {
    width: 90vw;
  }
}