/* .event-schedule{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */
.schedule{
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 25%;
  width: 800px;
  height: 100px;
  border: 2px;
  background: rgba(80, 80, 80, 0.5);
  box-shadow: -2.4742px -3.29894px 16.4947px rgba(0, 0, 0, 0.25), 2.4742px 3.29894px 16.4947px rgba(0, 0, 0, 0.25);
  border-radius: 16.4947px;
}
.schedule-wrapper-1 .schedule-heading-m,
.schedule-wrapper-2 .schedule-heading-m{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  margin-top: 3%;
}
.date{
  display: flex;
  margin-top: -6.5%;
  margin-left: 25%;
  width: 160px;
  height: 100px;
  border: 2px;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 16.4947px;
}
.text{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  width: 50px;
}
.schedule-wrapper-1 ul,
.schedule-wrapper-2 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: rgba(80, 80, 80, 0.5); 
  box-shadow: -2.4742px -3.29894px 16.4947px rgba(0, 0, 0, 0.25), 2.4742px 3.29894px 16.4947px rgba(0, 0, 0, 0.25);
  border-radius: 16.4947px;
  margin-top: 6%;
}
.schedule-wrapper-1-active .list,
.schedule-wrapper-2-active .list{
  display: none;
}
.schedule-wrapper-1 li,
.schedule-wrapper-2 li{
  width: 800px;
  height: 50px;
  color: white;
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 1%;
  font-size: 1.5rem;
}
.schedule-wrapper-1  .more-option-show,
.schedule-wrapper-2  .more-option-show{
  display: inline-flex;
  justify-content: right;
  color: white;
  margin-top: -4.5%;
  margin-right: 6%;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.more-option-show:hover{
  color: gray;
}
/* img{
  width: 10%;
} */
/* media query */  
@media (max-width: 768px){
  .schedule{
    width: 200px;
    height: 40px;    
  }
  .schedule-wrapper-1 .schedule-heading-m,
  .schedule-wrapper-2 .schedule-heading-m{
    font-size: 0.5rem;
    margin-top: 5%;
  }
  .date{
    margin-top: -11%;
    margin-left: 25%;
    width: 55px;
    height: 40px;
  }
  .text{
    font-size: 0.5rem;  
    margin-top: 10%;
    margin-left: 28%;
    width: 15px;
  }
  .schedule-wrapper-1  .more-option-show,
  .schedule-wrapper-2  .more-option-show{ 
    margin-top: -5.5%;
    margin-right: 6%;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
}